body { font-family: Arial, sans-serif; text-align: center; margin: 150px; }

/*low fi logo styles*/
.enhancejs-logo .logo-title { font-weight: bold; display: block; }
.enhancejs-logo .logo-tag { font-size: .6em; }
