@import url(http://fonts.googleapis.com/css?family=Cantarell:bold);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);

body { font-size: 62.5%; color: #444; background: #0472BC;  }
h1 { margin: 10px auto; font-size: 7em;}

a { color: #fff; }

.enhanced_toggleResult { width: 600px; text-align: center; margin: 50px auto; padding-top: 20px; display: block; border-top: 1px solid #114472; }




/*enhancejs-logo*/
/* structure */
.enhancejs-logo { position: relative; font-weight: normal; font-family: 'Cantarell:bold', 'Trebuchet MS', sans-serif; width: 5.2em; padding: 0; -moz-border-radius: .05em; -webkit-border-radius: .05em; border-radius: .05em; height: 1.5em; }
.enhancejs-logo .logo-title {letter-spacing:-0.01em; padding:0 1.06em .3em 0;  text-transform: lowercase; font-weight: bold; position: relative;  }
.enhancejs-logo .logo-js { letter-spacing:-0.03em; position: absolute; right: 0; width: .9em; height: .7em; vertical-align: baseline;    -moz-border-radius: .15em; text-align: center; -webkit-border-radius: .15em; border-radius: .15em; font-size: 1.1em; line-height: .6; top: .3em; overflow: hidden;  font-family: 'Vollkorn', sans-serif;  text-shadow: none;}
.enhancejs-logo .logo-tag {font-weight: bold; position: absolute; top: 5.3em; font-style: normal; font-size: .215em; left: 1em;}
/*colors*/
.enhancejs-logo { background: #0472BC; color: #fff; text-shadow: 0 0 .1em #114472; }
.enhancejs-logo .logo-js {  background: #fff;  color: #0472BC; -moz-box-shadow: 0px 0px .1em #114472; -webkit-box-shadow: 0px 0px .1em #114472; box-shadow: 0px 0px .1em #114472; }
